.banner {
  position: relative;
  min-height: 50vh;
  overflow: hidden;
  border: 1px solid var(--dark-text-color);
  border-radius: 13px;
  box-shadow: var(--box-shadow);
}
.banner img {
  max-width: 100%;
  object-fit: fill;
  height: 50vh !important;
}
