* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  letter-spacing: 1px;
}
:root {
  --primary-color: #00b2ea;
  --dark-text-color: #000000;
  --light-text-color: #ffffff;
  --secondary-text-color: #707070;
  --blue-bolder: #08bdf7;
  --footer: #6f6f6f;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  --second-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.9);
  --first-gradient: linear-gradient(
    to right bottom,
    var(--primary-color),
    #21cae788
  );
}

/* INITIAL STYLES */
h3 {
  font-size: 22px;
}
a,
i,
span {
  display: inline-block;
}
image {
  max-width: 100%;
  object-fit: fill;
}
.link {
  color: var(--primary-color);
  cursor: pointer;
  font-size: 22px !important;
}
.link:hover {
  scale: 0.9;
  text-shadow: 0 0 1px #000;
}
.content {
  padding: 0 2rem;
}
input {
  outline: none;
  padding: 9px 0;
  font-size: 18px;
  letter-spacing: 2px;
}
/* .active {
  color: var(--primary-color) !important;
} */
@keyframes showY {
  0% {
    transform: translateY(1400px);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
