/* OFFER BANNER STYLES */
.offer-baner {
  background: #1283a7;
  width: 90% !important;
  margin: auto;
  margin: 3rem auto;
  min-height: 60vh;
  border-radius: 13px;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.offer-cover {
  position: relative;
}
.offer-cover img {
  max-width: 100%;
  height: 100%;
  object-fit: fill;
  animation: showY 1.5s;
}

.offer-content__box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  background-color: var(--primary-color);
  display: inline;
  margin-left: 0.5rem;
  padding: 0.8rem 1.5rem;
  border-radius: 13px 1000px 13px;
  font-size: 18px;
  width: 18rem;
}
.offer-content {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1.5rem;
  color: var(--light-text-color);
  text-shadow: var(--box-shadow);
}
.offer-content span {
  text-align: justify;
}
